 {% load static %}
 {% include 'base.html' %}
 {% block content %}
 
 
 <div class="con" style="position: relative; width: 100%; height: 500px; overflow: hidden;">
    <img src="{% static 'fast.webp' %}" style="height: 100%; width: 100%; object-fit: cover;">
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5);">
        <div class="container">
            <h3 style="color: white; margin-top: 100px; margin-left: 15px; font-size: 1.8rem;"
                class="text-center text-md-left">
                "Craving tasty fast food? Order now for quick delivery, fresh ingredients,<br> and exclusive deals—don’t miss out!"
            </h3>
        </div>
    </div>
</div>


 <div class="container" style="padding: 20px;">
     <h3 style="margin-top: 20px;">Snacks</h3>
     <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 20px;">
         {% for p in pro %}
         <div style="border-radius: 10px; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: #fff; transition: transform 0.3s;">
             <img src="/media/{{ p.image }}" alt="Product Image" style="width: 100%; height: 200px; object-fit: cover;">
             <div style="padding: 20px; text-align: center;">
                 <h2 style="font-size: 1.2em; margin: 10px 0; color: #333;">{{ p.name }}</h2>
                 <p style="font-size: 1em; color: #888; margin-bottom: 20px;">{{ p.price }} Rs</p>
                 <div style="display: flex; justify-content: space-around; align-items: center;">
                     <!-- <button style="background-color: #28a745; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;">Add to Cart</button> -->
                     <form method="post" action="{% url 'add_to_cart' p.id %}">
                        {% csrf_token %}
                        <button type="submit" style="background-color: #28a745; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;">
                            Add to Cart
                        </button>
                    </form>
                     <button style="background: none; border: none; cursor: pointer; color: #ff4757; font-size: 1.5em; transition: color 0.3s;"><i class="fas fa-heart"></i></button>
                 </div>
             </div>
         </div>
         {% endfor %}
     </div>
 </div>
 
 {% endblock %}
 